.header {
  background-color: blue;
  color: red;
  
    &__target {
      background-color: red;
      color: red;

  }
  .header__target-amount {

  }
}
.main {

  .main-circle {

  }
}
.resent-amount
貯蓄額 340,000円